@use "sass:color";
@use "sass:list";
@use "sass:map";
@import "./fonts.scss";

// themes
@import "./themes/default.scss";

// pages
@import "./pages/disclaimer.scss";
@import "./pages/auth.scss";

// components
@import "./components/error.scss";
@import "./components/navbar.scss";
@import "./components/modal.scss";
@import "./components/button.scss";

body {
    background: var(--background) no-repeat center;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Classic Console";
    margin: 0px; // i fucking hate user-agent styling

    // handle grayscale colors
    --grayscale-1: white;
    $currentLightness: color.lightness(white);

    $variations: 5%, 10%, 15%, 25%, 30%, 35%, 40%, 45%, 50%;

    // assign lighten & darken variables
    @for $i from 1 through length($variations) {
        $darken: nth($variations, $i);
        --grayscale-#{$i + 1}: #{darken(white, $darken)};
    }

    // default theming
    @include default_theme;

    // other themes
    // no other themes yet

    // apply fonts to things that need them
    pre, button, input, textarea, label {
        font-family: "Classic Console";
    }
}

// central page styling

.page {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;

    &-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}